.contact{
  background: url(#{$imgPath}contact-img.png) no-repeat calc(60%)0;
  padding-top: 110px;
}
.container-contact{
  @include e(content){
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
@include e(title){
  font-size: 90px;
  font-weight: 900;
  line-height: 25px;
  padding-bottom: 60px;
}
  @include e(text1){
    width: 355px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 42px;
  }
  @include e(main-group){
    display: flex;
  }
}
.form-contact {
  width: 41.5%;
  margin-left: 14px;
  margin-right: 174px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.form-control {
  width: 100%;
  border: 1px solid #00c4c4;
  margin-bottom: 14px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #00c4c4;
  background: rgba(112, 251, 255, .4);
  //word-wrap: break-word;
  //overflow-wrap: break-word;
  border-left: 5px solid transparent;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;

  &:hover {
    border-left-color: #355b82;
    cursor: pointer;
  }
}
.form-massge{
  padding-bottom: 220px;
  margin-bottom: 119px;
}
.texst{
  font-weight: 400;
}
.name{
  font-weight: 900;
  line-height: 25px;
  position: relative;
  padding-bottom: 47px;
  width: 340px;
}
.texst{
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  top:11px;
}