//fonts
$google-font: 'https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,900';

//@import url($google-font);

$pacifico: 'Pacifico', cursive;
$raleway: 'Raleway', sans-serif;
$baseFontSize: 16px;

$maxWidth: 1200px;


// Paths
$imgPath: "../i/";
$fontPath:"../fonts/";


 // Colors
$orange: #ff6033;
$black: #262626;
$white: #ffffff;
$turquoise: #00bfbf;
$textgray: #b8b8b8;


