$fontFamily: "https://fonts.googleapis.com/css?family=Roboto+Slab:100|Ubuntu:400,400i";
$font-family-sans-serif: 'Ubuntu', sans-serif; 
$font-family-serif: 'Roboto Slab', serif;

$imgPath: "../i/";
$iconsPath: "../i/icons/";
$personPath: "../i/persons/";


$blue: #34495e;
$grey: #fefefe;
$imgBorder: #dddddd;
$servicesBgColor: #34495e; 
$teamBgColor: #16a085;
$contactBgColor: #c0392b;
$btn-primary-bg: #34495e;
$btn-primary-border: #3c2e50;
